    <main class="container">
    <div class="jumbotron bg-light p-5 rounded-lg m-3" id="jum_about">
    <h1 class="display-4"><%= title %></h1>
    <hr>
    
    <!--About Me Page Content-->
      <img src="/Assets/images/me.jfif" id="me">
      <div id="about_text">
      <br>
      <div id="about_text">
      <h2 id="about_title">Michael-Angelo Dinuccio</h2>
      <br>
      <p>Michael-Angelo Dinuccio is currently in the 3rd Semester of the Software Engineering Technology Program
       at Centennial College. Michael-Angelo has experience in Software Testing & Debugging, Software Design. 
       He is interested in Object-Oriented Programming and Full Stack Web Development. He has experience programming with C#, HTML/CSS, JavaScript, node.js, Express, Java, and SQL. 
      </p>
      <p>Previously I studied at the University of Guelph-Humber in the Justice Studies Program in Toronto, ON. During his time at Guelph-Humber.
      Michael-Angelo was part of the Justice Studies honors society as a former VP of Communications for the Guelph-Humber chapter.</p>
      <br>
      <h5 id="about_title">Links</h5>
      <hr>
      <a href="/Assets/pdf/Michael-Angelo - Resume.pdf" id="resume" target="blank">Resume</a>
      <a href="https://www.linkedin.com/in/michael-angelo-dinuccio-software-engineering-student/" id="resume" target="blank">LinkedIn</a>
      <a href="http://studentweb.cencol.ca/mdinucci/" id="resume" target="blank">Student Website</a>
      </div>
      <div class="about_box"></div>
     