<main class="container">
    <div class="jumbotron bg-light p-5 rounded-lg m-3" id="jum_projects">
    <h1 class="display-4"><%= title %></h1>
    <hr>

    <!--Projects Page Content-->
    <div id="product_box">
    <p>Explore my projects below:</p>
    <ul>
    <li><b>Real Estate Website:</b> Coded using HTML & CSS. This was the final term project for my Web Development class where all skills from class were applied to this 
    project.</li>
    <li><b>Weather Application: </b>First time using an API. This simple application receives user's input and displays the current weather of that city. </li>
    <li><b>Member Registration Form:</b> Example of using Form Validation Techniques in Javascript. This application checks users input and 
    ensures the form is filled out correctly.</li>
    </ul>
    </div>
    <br/>
    <!--Project Buttons-->
    <h5 style="text-align: center;">See my projects here:</h5>
    <img src="/Assets/images/computer.png" id="computer_pic">
    <div id="tables">
    <b><p id="semester1" class="hover">Real Estate Website</p>
	<p id="semester2" class="hover">Weather Application</p>
	<p id="semester3" class="hover">Member Registration</p></b>
	<br />
	<br />

    <!-- Projects tables-->
    <table id="table1">
        <tr>
            <br />
            <td>
                <h5 class="title">Real Estate Website: </h5>
            </td>
        </tr>
        <tr>
        <td>
            <h6 class="title" style="font-size: 20px;">Link:</h6>
            <hr id="hr">
			<b><a href="http://studentweb.cencol.ca/mdinucci/Week%2011/Project/home.html" id="resume" target="blank">Go to project</a></b></td>
            <td><img src="Assets/images/realestate.jpg" class="projects_img" ></td>
        </tr>
        </table>

	    <table id="table2">
		<tr>
			<td>
                <h5 class="title">Weather Application:</h5>
            </td>
		</tr>
		<tr>
			<td>
                <h6 class="title" style="font-size: 20px;">Link:</h6>
                <hr id="hr">
                <a href="http://studentweb.cencol.ca/mdinucci/COMP125/Assignment6/assignment6.html" id="resume" target="blank"><b>Go to project</b></a></td>
            <td><img src="Assets/images/weather.jpg" class="projects_img"></td>
        </tr>
	</table>

	<table id="table3">
		<tr>
		<td>
            <h5 class="title">Member Registration:</h5>
        </td>
			</tr>
		<tr>
			<td>
                <h6 class="title" style="font-size: 20px;">Link:</h6>
                <hr id="hr">
			<a href="http://studentweb.cencol.ca/mdinucci/COMP125/Assignment4/assignment4.html" id="resume" target="blank">Go to project</a></b><br></td>
            <td><img src="Assets/images/member_form.jpg" class="projects_img"></td>
		</tr>
		</table>
        </div>
        