<main class="container">
    <div class="jumbotron bg-light p-5 rounded-lg m-3" id="jum_services">
    <h1 class="display-4"><%= title %></h1>
    <hr>
    
    <!--Services Page Content-->
<div id="services_page">
    <p>As of software engineering student I've had exposure to various coding languages and software engineering practises. 
    The following are the services I provide:
    </p>
    <ul>
    <li>Object-Oriented Programming</li>
    <li>Web Development (Front End, Back End & Full Stack)</li>
    <li>Software Testing</li>
    <li>Software Design</li>
    </ul>
    <p>Contact me to inquire about my services.</p>
</div>
<img src="/Assets/images/file.png" id="service_img">
