/* <   File Name: app.css
    Student Name: Michael-Angelo Dinuccio
    StudentID: 301177707
    Date: September 30th, 2021 */

/*Custom CSS goes here*/
@font-face {
  font-family: 'bebas_neuebold';
  src: url('bebasneue-bold-webfont.woff2') format('woff2'),
       url('bebasneue-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  background-color: #334355;
}

main{
    margin-left:auto;
    margin-right:auto;
    width:960px;
    height: auto;
    display: table;
}

#nav_Name{
  position: relative;
  left: 10px;
}
.navbar-expand-lg{
  position: sticky;
  top:0px;
  z-index: 20;
}
#logo{
  height: 80px;
  width: 80px;
  border-radius: 100px;
}

#me{
  height: 360px;
  width: 360px;
  border-radius: 200px;
  border: 5px #334355 solid;
  transform: scaleX(-1);
  position: relative;
  left: 100px;
  top: 20px;
}

a{
  font-family: bebas_neuebold;
  font-stretch: expanded;
}

.jumbotron{
  font-family: bebas_neuebold;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  width: 1300px;
  height: 780px;
}

#about_box{
  color: white;
  width: 500px; 
   display: inline-block;
   position: relative;
   left: 100px;
   top: 30px;
   z-index: 10;
 }

#about_text{
  width: 500px;
  position: relative;
  bottom: 170px;
  left: 300px;
  z-index: 2;
  color: white;
}
 #resume{
  color: white;
  text-decoration: none;
  margin: 5px;
   font-size: 20px;
 }

 #resume:hover{
  color: orange;
  text-decoration: none;
 }

 .pages {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

#about_title{
  font-family: bebas_neuebold;
  font-size: 35px;
  }

 label{
  display: table-row;
   position: relative;
 }

input { 
  display: table-cell;
  position: relative;
  left: 150px;
  bottom: 24px;
 }

 textarea{
  position: relative;
   right: 50px;
 }

.button {
 margin: 5px;
  position: relative;
  left: 0px;
}

#welcome{
  width: 55%;
  height: auto;
  border-radius: 10px;
  display: inline;
  border: #334355 1px solid;
}

.home_box{
  background-color:  #334355;
  height: 480px;
  width: 500px;
  z-index: 1;
  position: relative;
  bottom: 480px;
  left: 670px;
  border-radius: 10px;
  border: 1px black solid;
  padding: 25px;
  color: white;
}

p, li{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about_box{
  background-color:  #334355;
  height: 570px;
  width: 600px;
  z-index: 1;
  position: relative;
  bottom: 720px;
  left: 250px;
  border-radius: 10px;
  border: 1px solid black;
}

.hover:hover {
    background-color: #FFFFC2;
    color: #334355;
}

#intro{
   color: #DCDC95;
    text-align: justify;
}

p.hover {
    width: -moz-fit-content;
    display: inline;
    position: relative;
    left: 180px;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}
.hover {
	border-style: groove;
	background-color: #336699;
	color: #394d63;
}

table {
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    left: 225px;
    display:list-item;
    list-style-type: none;
    background-color: #334355;
    border-radius: 5px;
    width: 490px;
    padding: 15px;
    box-shadow: 5px 5px 5px black;
}

#tables{
  position: relative;
  bottom: 440px;
  left: 100px;
  z-index: 2;
}

.projects_img{
  width: 280px;
  height: 160px;
  border-radius: 10px;
  border: 1px black solid;
}

#stan{
  position: relative;
  left: 40px;
}

.title{
  font-family: bebas_neuebold;
  color: white;
}

#projects_img{
  height: 100px;
}

#computer_pic{
  transform: scaleX(-1);
  position: relative;
  bottom: 90px;
  right: 90px;
  z-index: 1;
  height: 450px;
}

#services_page{
  background-color: #334355;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;  
  height: 350px;
  position: relative;
  top: 110px;
  left: 50px;
  display: inline-block;
  border: 1px black solid;
}

#service_img{
  display: inline;
  position: relative;
  left: 100px;
}

#contact_h6{
  font-family: verdana;
}
.contact_page{
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   position: relative;
  left: 110px;
  bottom: 20px;
  padding: 20px;
}

#contact_box{
  background-color: #334355;
  color: white;
  border-radius: 10px;
  padding: 20px;
  height: 200px;
  width: 525px;
  border: 1px black solid;
  position: relative;
  top: 50px;
}

#contact_box2{
  background-color: #334355;
  color: white;
  border-radius: 10px;
  padding: 20px;
  height: 600px;
  width: 650px;
  border: 1px black solid;
  position: relative;
  left: 550px;
  bottom: 550px;
}

#hr{
  color: white;
  width: 100px;
}

#contact_a{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contact_a:hover{
  color: orange;  
}

@media (max-width: 500px) {
  body{
    overflow-x: hidden;
  }
  
  #jum_home, #jum_services {
    width: 330px;
    height: 1000px;
  }
  
  #jum_projects{
    width: 330px;
    height: 1350px;
  }
  
  .projects_img{
    width: 200px;
    position: relative;
    top: 150px;
    left: -100px;
  }
  
  #jum_contact{
    height: 1400px;
    width: 350px;
    position: relative;
    left: -13px;
    
  }
   #jum_about{
    width: 330px;
    height: 1400px;
  }
  #welcome{
    width: 300px;
    position: relative;
    left: -31px;
  }
  .home_box{
    width: 300px;
    height: 550px;
    left: -29px;
    bottom: -20px
  }
  #me{
    left: 15px;
    height: 200px;
    width: 200px;
  }
  .about_box{
    left: -14px;
    bottom: 850px;
    width: 280px;
    height: 900px;
  }
  #about_text{
    width: 260px;
    left: -5px;
    top: 30px;
  }
  #computer_pic{
    width: 0px;
  }
  #tables{
    left: -200px;
    top:-500px;
    width: 315px;
    
  }
  
  #semester1,#semester2,#semester3{
    display: list-item;
    list-style: none;
  }
  .hover{
    font-size: 18px;

  }
  #table1, #table2, #table3{
    left: 190px;
    width: 250px;
    height: 400px;
  }
  #services_page{
    width: 300px;
    left: -32px;
    top: 10px;
    height: 400px;
  }
  #service_img{
    width: 300px;
    left: -30px;
  }
  #contact_box{
    width: 330px;
    left: -40px;
    height: 220px;
  }
  #contact_box2{
    width: 330px;
    left: -40px;
    top: 70px;
  }
  .contact_page{
    left: -22px;
    font-size:small;
  }
  .button{
    font-size: 11px;
  }
  
  textarea{
    left: -13px;
    width:320px;
  }
} 
